html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
  overflow: hidden;
}
canvas {
  border: 1px solid black;
  background-image: url("https://res.cloudinary.com/db85dpvaz/image/upload/aiur-marketing/thecosmo-vision_zkrqwx.jpg");
  background-position: center;
}

img {
  display: none;
}
